<div class="container">
  <h2 class="text-center bold">Update your Profile<h2>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="container card card-block bg-faded">
      <h6 class="text-center bold">Name change? New email? Go ahead and update</h6>
      <%= render 'form' %>
    </div>
  </div>
</div>
