<div class = "container-fluid city_form">
	<div class = "row">
		<div class = "col-md-3 offset-md-4">
			<div class = "text-center form-group">
				<%= form_for @country do |f| %>
				<div class = "form-group">
					<h3><%= f.label "Enter Country: " %></h3>
					<%= f.search_field (:newrallies, :country), autofocus: true, class: 'form-control' %>
				</div>
				<div class = "actions form-group">
					<%= f.submit "Search", class: "btn btn-primary btn-md btn-block" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>