<div class = "container-fluid city_form">
	<div class = "row">
		<div class = "col-md-3 offset-md-4">
			<div class = "text-center form-group">
			<%= form_for :countrysearch, url: "newrallies" do |country| %>
				<div class = "form-group">
					<%= country.text_field :city, class: 'form-control' %>
				</div>
					<%= country.submit :search %>
			<%  end %>
		</div>
		</div>
	</div>
</div>
<%= render "newrallies/index" %>