<div class="container">
  <h2 class="text-center bold">Settings<h2>
</div>

<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="container card card-block bg-faded">
      <h6 class="bold text-center">Account Info </h6>
