<div class="home-callout container-fluid text-center">
  <h1 class="bold">Welcome to Right to Assemble<h1>
  <h3> A community where you and others can fight for what you believe in </h3>
</div>

</br></br>

<div class="col-md-3 offset-md-2">
  <div class="container card card-block bg-faded">
    <% if user_signed_in? %>
      <div class="text-center">
        <h3 class="home-link">Top City Rallies</h3>
        <p>Check out the top rallies in your area for today</p>
      </div>
      <%= link_to "Hot Rallies", hot_rally_city_path, class: "btn btn-info btn-lg btn-block" %>
    <% else %>
      <div class="text-center">
        <h3 class="home-link">Sign up</h3>
        <p>Sign up and get in touch with millions who believe in your cause</p>
      </div>
      <%= link_to "Try it out", new_user_registration_path, class: 'btn btn-info btn-lg btn-block' %>
    <% end %>
  </div>
</div>
