<div class="container text-center">
  <h2 class="bold">Contact Us<h2>
  <p>Having problems with the website? Suggestions or improvements?
  Just want to contact us?</p>
</div>
<div class="container card card-block bg-faded col-md-4 offset-md-4">
  <form>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="nameLabel" class="contactLabel">Name (First and Last)</label>
        <input type="text" class="form-control" id="nameLabel" placeholder="Enter Name">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="emailLabel" class="contactLabel">Email Address</label>
        <input type="email" class="form-control" id="emailLabel" placeholder="Enter Email Address">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="subjectLabel" class="contactLabel">Subject</label>
        <input type="text" class="form-control" id="subjectLabel" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="messageArea" class="contactLabel">Message</label>
        <textarea class="form-control" id="messageArea" rows="3"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
