/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import 'font-awesome';

 body {
   font-family: 'Open Sans', sans-serif;
   background-color: #404040;
 }

 .bold {
   font-weight: bold;
 }

 p {
   font-size: 14px;
 }

.p-container {
  padding-top: 10px;
  padding-bottom: 30px;
}

h1, h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: #808080;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3fada8, #808080);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3fada8, #808080);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-callout {
  margin-top: -10px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.navbar {
  border: none;
}
.navbar-light .navbar-nav li a {
  padding-left: 15px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav li a {
  color: black;
  &:hover{
    color: #5e5e5e;
    background-color: transparent;
    text-decoration: none;
  }
}

.card-block {
  margin: 10px;
}

.contactLabel {
  font-size: 16px;
}

#emailHelp {
  font-size: 10px;
}

.navlinks {
  padding: 15px 15px 15px 15px
}

.container.card.card-block.bg-faded, ul.list-inline.banner-social-buttons {
  margin-top: 2px;
}

.devise-links{
  display: block;
  text-align: center;
  color: white;
}

.customHr {
  width: 100%;
  font-size: 1px;
  color: rgba(0, 0, 0, 0);
  line-height: 1px;
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
  position: center;
}

.network-name {
  color: black;
  margin-right: 3px;
  margin-top: 5px;
}

.socialTag {
  margin-top: 10px;
}

.address {
  display: inline-block;
}

i.fa.fa-envelope-o.fa-2x {
    margin-top: -10px;
}

h2 {
  color: #dedede;
}

.home-link {
  display: inline-block;
  margin-right: 5px;
}

.city_form {
  background-color: rgb(128,128,128);
  margin-top: 15px;
  padding: 10px;
}

.btn-link-1 {
	height: 50px;
	margin: 5px;
  margin-bottom: 20px;
	padding: 16px 20px 0px 20px;
	background: #19b9e7;
  color: #fff;
  text-align: left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.form-social-txt {
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}

.btn-link-1.btn-link-1-facebook { background: #4862a3; width: 70% }
.btn-link-1.btn-link-1-twitter { background: #55acee; width: 70% }
.btn-link-1.btn-link-1-google { background: #dd4b39; width: 70% }

.social-login-buttons {
	margin-top: 25px;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.form-space {
  margin-bottom: 50px;
}

.form-header {
  color: black;
  margin-bottom: 20px;
}

.form-btn-text {
  text-align: center;
}

.left-col {
  width: 50%;
  height: 95%;
  border-right: 1px solid white;
  float: left;
  box-sizing: border-box;
}

.right-col {
  width: 50%;
  height: 95%;
  border-left: 1px solid white;
  float: right;
}

#createrally {
  margin-top: 20px;
}

.edit-profile {
  margin-top: 35px;
}

.profile-name {
  color: white;
  padding-bottom: 20px;
}

.profile-tag {
  margin-top: auto;
}

.profile-info {
  padding-bottom: 10px;
}

.citypost {
  margin-bottom: 15px;
  background-color:white;
  padding-left: 15px;
  padding-right: 15px;
}

#date {
  font-size: 12px;
}
